button {
  border: none;
  outline: none;
  color: #fff;
  font-size: calc(16px * var(--scale));
  letter-spacing: 1px;
  background: #c3c6b1;
  width: 100%;
  padding: 16px 0;
  margin: 40px 0px 6px 0px;
  border-radius: 50px;
  transition: all 400ms ease-in-out;
}
button:hover {
  background-color: #91967b;
}

.login .loginContainer {
  padding: 60px;
  margin: 120px auto;
  border-radius: 10px;
  width: 75%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 5px 5px 5px #f9faf1;
}

.login .loginContainer label {
  color: rgb(216, 196, 196);
  margin: 14px 0;
  display: block;
  font-size: calc(22px * var(--scale));
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: calc(15px * var(--scale));
  padding: 10px;
  background: rgba(229, 236, 219, 0.1);
  color: #4b553a;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: rgb(74, 74, 78);
}

.login .loginContainer .btnContainer p span {
  color: #a3862f;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: #caa945;
}

.login .loginContainer .errorMsg {
  color: #963703;
  font-size: calc(16px * var(--scale));
}
